<h1>Another day at Paraiso!</h1>

<%= link_to "New Blog", new_blog_path if logged_in?(:admin) %>

<%= paginate @blogs %>

<div class="about-us">
	
<%= render @blogs %>
</div>

<div class="paginate-bar">
<%= paginate @blogs %>
</div>
	