  	<div class='page-title'>
  		<h1>Portfolios and Previous Work</h1>
  		<%= link_to "New Portfolio", new_portfolio_path if logged_in?(:admin) %>

  	</div>
<div class="album text-muted">
  <div class="container">

    <div class="row portfolio-item sortable">
      <%= render partial: 'portfolio_item', collection: @portfolios %>
    </div>
  </div>
</div>

