<div class="masthead">
		<div class="inner">
			<%= image_tag("favicon-32x32.png", class: "circleBase type2", size: "80x80") %>
			<nav class="nav nav-masthead app-nav">
				<%= nav_helper 'nav-link', 'span' %>
			</nav>
		</div>
	</div>