<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div id="about-us">
  Our programmers have an enthusiasm for pursuing development. This stems from their desire to create new, beneficial programs for others as well as a desire to use their full potential as programmers.                 Our experience in web development utilizes many modern frameworks including, but not limited to, Ruby, Ruby on Rails, C#, and bootstrap.       Our team can create not only static pages but fully dynamic, professional websites. We can also create applications, several of which are now available on Google Play store.
</div>
